@import "tailwindcss";

:root {
  --color-primary-1: #3B82F6; /* blue-500 */
  --color-primary-2: #FB923C; /* orange-400 */

  --color-bg: #000000;  /* black */
  --color-text: #ffffff; /* white */
  --color-border: #1f2937; /* dark gray */
}


.login-form input {
  color: white !important;
}

.login-form input::placeholder {
  color: rgba(255,255,255,0.7) !important;
}

.login-form label {
  color: white !important;
}



