@import "tailwindcss";

:root {
  --color-primary-1: #86efac; /* green-300 */
  --color-primary-2: #d8b4fe; /* purple-300 */

  --color-bg: #000000;  /* black */
  --color-text: #ffffff; /* white */
  --color-border: #1f2937; /* dark gray */
}